@import "../utils/container.module";
@import "../utils/mixins.module";

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 42px);
}

.contacts__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.contacts__list__item {
  cursor: pointer;
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: 0.5s;
  &::before {
    content: "";
    position: absolute;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #758697;
    transform: scale(0.9);
    z-index: -1;
  }
  &:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px #758697;
  }
  &:hover {
    color: #758697;
  }
}

.contacts__list__link {
  display: flex;
}

.contacts__list__icon {
  font-size: 40px;
}
.contacts__list__item:hover .contacts__list__icon {
  animation: shake 0.5s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
