@import "../utils/container.module";
@import "../utils/mixins.module";

@import "./animationBall.module.scss";
@import "./contacts.module.scss";
@import "./cubes.module.scss";
@import "./network.module.scss";

@import "./wave.module.scss";

.menu__section {
  padding: 50px 0;
}
.menu__flex {
  display: flex;

  flex-wrap: wrap;
  gap: 50px;
  flex-direction: row;
  align-items: stretch;
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 20px;
}

// box__ball__menu//
.list__item__ball {
  background-color: transparent;
  width: 150px;
  transition: all 0.5s;
  border-radius: 20px;
  &:hover,
  &:focus {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
.box__ball__menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.ball__menu {
  left: inherit;
}
.shadow__menu {
  left: inherit;
}
// box__Contacts__menu//

.contacts__list__item {
  color: #758697;

  &::before {
    background: #758697;
  }
  &::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px #758697;
  }
}

.contacts__list__item .contacts__list__icon {
  animation: shakeContacts 0.6s alternate infinite ease;
}
@keyframes shakeContacts {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
// cubes__navigation__link //
.cubes__list {
  padding-top: 50px;
  margin-left: 40px;
}

.cubes__navigation__link {
  flex-direction: column;
}
.cubes__list__item {
  width: 120px;
}
// network //
.network__list__link {
  outline-offset: 4px;
}

.network__list__link .network__list__icon {
  animation: shakeContacts 0.7s alternate infinite ease;
}

.tiktok {
  background-color: #000;
  outline-color: #000;
  color: #fff;
}
.tiktok .icon__tiktok {
  filter: drop-shadow(2px 1px 1px red);
}
// wave__section//
.wave__section {
  position: static;
  background-image: none;
}
.box__wave {
  font-size: 15px;
}
